@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add or adjust this in your global stylesheet */
.underline-animation::after {
  content: "";
  display: flex;
  width: 0;
  height: 2px; /* Adjust the thickness of the underline */
  background: currentColor; /* Use the text color for the underline */
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.underline-animation:hover::after {
  width: 100%;
}

.hero_gradient {
  background: linear-gradient(
    90deg,
    #c835f1 0.02%,
    #75ebeb 36.48%,
    #8fea92 67.03%,
    #3673ff 99.74%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
